@media screen and (min-device-width: 480px) {
  #main {
    //display: block !important;
  }
}

#main {
  position: absolute;
  //display: none;
  bottom: 1%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 3em;
  transition: opacity .1s ease-in;
 -moz-transition: opacity .1s ease-in;
 -webkit-transition: opacity .1s ease-in;
  opacity: 0.75;
}

#main:hover {
 transition: opacity .25s ease-in;
 -moz-transition: opacity .25s ease-in;
 -webkit-transition: opacity .25s ease-in;
  opacity: 0.95;
}