html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
}

.cover {
  height: 100%;
  width: 100%;
  background: top center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.navTop, .coverCopyright{
  color: black;
  opacity: 0.5;
}

.navTop {
  position: relative;
  padding: 4px;
  vertical-align: middle;
}

.navTopLeft {
  display: table-cell;
  font-size: 1em;
  vertical-align: top;
  text-align: left;
}

.navInfoItem {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0px 2px;
}

.navTopRight {
  display: table-cell;
  font-size: 1.33em;
  border-radius: 5px;
  background: white;
  text-align: right;
  width: 1%;
  right: 0px;
  margin: 3px;
  padding: 0px 4px;
}

.navMenuItem {
  display: table-row;
  word-wrap: break-word;
}
.navMenuItem a {
  color: black;
}
.navMenuItem a:hover {
  color: blue;
}



.coverTitle {
  font-size: 0.66em;
  color: white;
  
}

.coverCopyright {
  position: absolute;
  font-size: 0.66em;
  color: white;
  text-shadow: 1px 1px black;
  bottom: 0px;
  right: 0px;
  margin: 2px 4px;
}

.content {
  position: relative;
  display: block;
  text-align: center;
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 8px 0px;
  z-index: 2;
}

.contentBlock {
  display: block;
  color: black;
  width: 550px;
  max-width: 100%;
  padding: 0px 8px;
  z-index: 1;
}

.colorBar {
  position: relative;
  display: block;
  height: 2px;
}

.barDiv {
  position: relative;
  text-align: center;
  line-height: 1em;
  opacity: 0.83;
}
.barDiv:before {
  position: absolute;
  display: block;
  background-color: white;
  opacity: 0.33;
  top: 50%;
  width: 100%;
  max-width: 100%;
  border-top: 1px solid black;
  content: '';
}

.barDivText {
  position: relative;
  display: inline-block;
  font-size: 0.66em;
  text-transform: uppercase;
  color: black;
  opacity: 1;
  background: white;
  border: 1px solid rgba( 0, 0, 0, 0.5);
  padding: 0.2em 0.7em 0.2em 0.7em ;
}
  

a {
  text-decoration: none;
}
