<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <title>{% if page.title %}{{ page.title }} -- {% endif %}{{ site.name }} -- {{ site.description }}</title>
    <meta name="author" content="{{ site.author }}">

    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
    <link rel="alternate" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
    
  </head>

  <body style="background-image: url('{{ site.baseurl }}{{ site.imageDir }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.defaultCover }}{% endif %}');" onLoad="document.body.style.backgroundSize = '100% ' + ( 0.66 * document.body.clientHeight ).toString() + 'px'; document.body.style.height = ( 0.66 * document.body.clientHeight ).toString() + 'px';">
    <header class="cover">
      <div class="coverArrow">
      </div>
      <div class="coverCenterfold noclick">
        <div class="coverTitle">
          {{ page.title }}
        </div>
        <div class="coverDescription">
          {{ page.desc }}
        </div>
        <div class="coverDescription">
           
        </div>
      </div>
      
      <a href="#cBar" class="coverArrow">
        <svg id="svg3368" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
          <g id="layer1" stroke="#fff" fill="#fff">
            <path id="path4180" d="m32 1.002a30.998 30.998 0 0 0 -30.998 30.998 30.998 30.998 0 0 0 30.998 30.998 30.998 30.998 0 0 0 30.998 -30.998 30.998 30.998 0 0 0 -30.998 -30.998z" fill-opacity=".49804" stroke-width="2.01"/>
            <path id="path4185" d="m19.509 5.4431 0.07007 27.04-16.401-0.03115 28.845 28.827 28.776-28.764h-16.287l0.03547-27.056z" fill-rule="evenodd" stroke-width=".992"/>
          </g>
        </svg>
      </a>
      
      <div class="navTop">
        <div class="navTopLeft">
          <div class="navInfoItem" >
            <a href="{{ site.url }}"><img src="{{ site.baseurl }}{{ site.logo }}" alt="j"></a>
        </div> 
          <div class="navInfoItem noclick">
          |
          </div> 
        <div class="navInfoItem noclick">
          by {{ site.author }}
        </div> 
      </div>
      <div class="navTopRight">
        <div class="navMenuItem">
          <a href="{{ site.url }}" title="Home">Home</a>
          </div>
        <div class="navMenuItem">
          <a href="{{ site.url }}/about.html" title="Still Home">About</a>
        </div>
      </div>
    </div>
    
    <div class="coverCopyright noclick">
      {% if page.copyright %}{{ page.copyright }}{% endif %}{% if page.cover %}{% else %}{{ site.defaultCopyright }}{% endif %}
    </div>
    
  </header>
  
  <div id="cBar" class="colorBar"></div>
  
  <div class="content">
    
    <div id="main" role="main" class="content">
      {{ content }}
    </div>

    {% include analytics.html %}
  </body>
</html>
