<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <title>{% if page.title %}{{ page.title }} -- {% endif %}{{ site.name }} -- {{ site.description }}</title>
    <meta name="author" content="{{ site.author }}">

    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
    <link rel="alternate" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
    
  </head>

  <body style="background-image: url('{{ site.baseurl }}{{ site.imageDir }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.defaultCover }}{% endif %}');" onLoad="document.body.style.backgroundSize = '100% ' + ( 0.66 * document.body.clientHeight ).toString() + 'px'; document.body.style.height = ( 0.66 * document.body.clientHeight ).toString() + 'px';">
    <header class="cover">
      <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 64 64"
   version="1.1"
   id="svg3368"
   height="64"
   width="64">
  <defs
     id="defs3370" />
  <metadata
     id="metadata3373">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1">
    <path
       id="path4180"
       d="M 32 0.71289062 A 31.287329 31.287329 0 0 0 0.71289062 32 A 31.287329 31.287329 0 0 0 32 63.287109 A 31.287329 31.287329 0 0 0 32.099609 63.283203 L 1.4550781 33.726562 L 20 33.818359 L 20 4 L 45.636719 4.5449219 L 45.636719 33.726562 L 62.544922 33.726562 L 32.224609 63.279297 A 31.287329 31.287329 0 0 0 63.287109 32 A 31.287329 31.287329 0 0 0 32 0.71289062 z "
       style="fill:#ffffff;fill-opacity:0.8627451;stroke:#ffffff;stroke-width:1.42534328;stroke-opacity:1;marker-end:" />
  </g>
</svg>

      <div class="coverCenterfold noclick">
        <div class="coverTitle">
          {{ page.title }}
        </div>
        <div class="coverDescription">
          {{ page.desc }}
        </div>
        <div class="coverDescription">
           
        </div>
      </div>
      
      <div class="navTop">
        <div class="navTopLeft">
          <div class="navInfoItem" >
            <a href="{{ site.url }}"><img src="{{ site.baseurl }}{{ site.logo }}" alt="j"></a>
        </div> 
          <div class="navInfoItem noclick">
          |
          </div> 
        <div class="navInfoItem noclick">
          by {{ site.author }}
        </div> 
      </div>
      <div class="navTopRight">
        <div class="navMenuItem">
          <a href="{{ site.url }}" title="Home">Home</a>
          </div>
        <div class="navMenuItem">
          <a href="{{ site.url }}/about.html" title="Still Home">About</a>
        </div>
      </div>
    </div>
    
    <div class="coverCopyright noclick">
      {% if page.copyright %}{{ page.copyright }}{% endif %}{% if page.cover %}{% else %}{{ site.defaultCopyright }}{% endif %}
    </div>
    
  </header>
  
  <div class="colorBar"></div>
  
  <div class="content">
    
    <div id="main" role="main" class="content">
      {{ content }}
    </div>

    {% include analytics.html %}
  </body>
</html>
